    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Currículo</title>
        <link rel="stylesheet" href="/static/style.css">
       
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cooper+Hewitt&family=Satisfy&display=swap" rel="stylesheet">
         <style>
        body {
            font-family: 'Cooper Hewitt', sans-serif; 
            color: #333; 
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Cooper Hewitt', sans-serif;
            font-weight: 700; 
            color: #0066cc; 
        }

        p {
            font-family: 'Cooper Hewitt', sans-serif;
            color: #666; 
            }
        </style>
    </head>
    <body>        
    
        <h1>ANA CAROLINA ANDRADE</h1>
        <h2>Sobre mim</h2>
    <style>.imagens {position: absolute; top: 40px; right: 30px;}         
    </style>
    <img src="https://github.com/carol00andrade/pf-mdj-aa-24/blob/main/static/fotoperfil.png" alt="Foto de Ana Carolina, uma mulher branca, de cabelos castanhos na altura do ombro e óculos de grau">
        <h4>Jornalista e produtora de conteúdo para mídias digitais</h4>
        
        <h2>FORMAÇÃO ACADÊMICA</h2>
        
        <p>2023 Master em Jornalismo de Dados, Automação e Data Storytelling - Insper (conclusão em 2024)<br>
           2020 Especialização em Gênero e Sexualidade - Universidade do Estado do Rio de Janeiro<br>
           2018 Pós-graduação em Gestão da Comunicação em Mídias Digitais - Senac São Paulo<br>
           2011 Graduação em Comunicação Social, habilitação Jornalismo - Pontifícia Universidade Católica de São Paulo (PUC-SP)</p>
    
       <h3>EXPERIÊNCIA PROFISSIONAL</h3>
            
            <p><b>FREELANCER</b><br>
            Jornalista e produtora de conteúdo para mídias digitais | Jan 2019 - atualmente<br>
            Produção de reportagens; redação e produção de materiais para sites e redes sociais como Instagram, Facebook e X (Twitter);<br>
            Monitoramento e análise de redes; Cobertura de eventos nacionais e internacionais.</p>
    
            <p><b>BANDNEWS TV</b><br>
            Social Media | Jul 2022 - Jan 2023<br>
            Produção de conteúdo para as redes sociais do BandNews TV, do Grupo Bandeirantes de Comunicação.</p>
    
            <p><b>FENAMETRO (FEDERAÇÃO NACIONAL DOS METROVIÁRIOS)</b><br>
            Jornalista | Jul 2015 - Dez 2019<br>
            Produção de reportagens, edição do site da entidade; Redação e diagramação de boletins impressos e digitais; Produção de conteúdo e gestão das redes sociais;<br>
            Cobertura de eventos nacionais e internacionais; Assessoria de imprensa</p>
    
       <h2>FORMAÇÃO COMPLEMENTAR</h2>
    
        <p>2020 Workshop Ferramentas Avançadas de Busca para Comunicadoras - Chicas Poderosas<br>
           2018 Curso de extensão “Fronteiras do Feminismo: pós-colonialismo, teorias e práticas PUC-SP.<br>
           2015 Curso de extensão “Fronteiras do Feminismo: pós-colonialismo, teorias e práticas latino-americanas” PUC-SP.</p>
    
        <p><button><a href="/">Home</a></button> <button><a href="/portfolio">Portfólio</a></button></p>
        <p><button><a href="/noticias">Notícias</a></button></p>
    </body>
    </html>       
