<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Escolha uma palavra-chave:</h1>
    <select id="palavraChave">
        <option value="">Selecione uma opção</option>
        {% for palavra in palavras_chave_disponiveis %}
            <option value="{{ palavra }}">{{ palavra }}</option>
        {% endfor %}
    </select>
    <button id="buscarNoticias">Buscar</button>
    <div id="resultado"></div>

    <script>
        $(document).ready(function() {
            $("#buscarNoticias").click(function() {
                var palavraChave = $("#palavraChave").val();
                if (palavraChave) {
                    $.get("/noticias", { palavra_chave: palavraChave }, function(data) {
                        $("#resultado").html(data);
                    });
                } else {
                    alert("Por favor, selecione uma palavra-chave.");
                }
            });
        });
    </script>
</body>
</html>
